<!DOCTYPE.html>
{% extends 'index/layout.html' %}

{% block body_block %}

{% load staticfiles %}

<div class="container-container">

    <div class="container" id="insurance-container">

               <h1 style="font-size:3rem; text-align:center;">Insurance</h1>

                <div id="insurance-wrapper" >
                    <div id="insurance-requests">
                       <div class="columns large-6 medium-12">
                       <img src="{% static 'index/pics/Cityview.JPG' %}" class="columns large-6 medium-6 show-for-medium-only">
                       <img src="{% static 'index/pics/Cityview.JPG' %}" class="columns large-6 medium-6 show-for-small-only">

                        <h1> Insurance Requests</h1>
                            <p >If you're moving into/out of a building with elevators, marble walls
                            or glass floors, your building may require your moving company to have insurance…don’t worry, we have it. As we are dedicated to processing each insurance request thoroughly, please submit your request at least 3-5 days before your building’s deadline. When you have already booked your move, you can submit your insurance request by emailing <span><em>nomadservicesny@gmail.com </em></span>a sample of the building’s COI (See Below).



                             </p>
                        </div>
                         <img src="{% static 'index/pics/Cityview.JPG' %}" class="columns large-6 show-for-small show-for-large">
                </div>
                        <div class="clear"></div>
            <div id="coi-wrapper">

               <img src="{% static 'index/pics/calculator.jpg' %}" class="columns large-6 show-for-large" style="float:right">

               <div  class="columns large-6 medium-12">

                   <img src="{% static 'index/pics/calculator.jpg' %}" class="columns large-6 medium-6 show-for-medium-only">

            <div>
                <div id="cert">


                        <h1>Certificate of Insurance</h1>
                            Here is an example of a certificate of liability insurance to serve as a template for what your building may request.

                            The sections labeled on this form must be filled out when submitted in order to complete your request in a timely manner.
                </div>

                <div>
                    <img src="{% static 'index/pics/calculator.jpg' %}" class="columns large-6 show-for-small-only">
                <h2> COI Turnover Time</h2>
                       <p>Below are the 3 different ways your building could request insurance (they will only require one to be fulfilled) and their respective turnover times.</p>

                   <h3> Sample COI</h3>
                            <p>This is the fastest and simplest way to provide proof of insurance. We send you or your building a sample of our insurance; this can be processed in the same day.</p>

                    <h3>Certificate Holder</h3>
                            <p>Since there is very little needed to name a certificate holder (you or your building) this process only takes about 1-2 business days.</p>

                    <h3>Additionally Insured</h3>
                            <p>This generally takes the longest; to fulfill this request we must participate in a chain of communication with our insurance team and the building issuing the request, which can take anywhere from 3-5 business days.
                            </p>


                </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

                 <h1 style="text-align: center;">Insurance Form</h1>
                 <div class="columns large-2"> .</div>
            <div id="insurance-form-div" class="columns large-8" >

                <form  action="#" method="POST" id="insurance-form" autcomplete="on">
									{% csrf_token %}
									{{ insurance_stuff }}
									<input type="submit" class="button" value="Submit">
<!--
										<div class="columns large-7">
                        <label> Name </label>
                        <input type="text" name="name" placeholder="Your Name: " required>
                        </div>

                        <div class="columns large-12" id="insurance-contact">

                                <div class="columns large-6"  >
                                    <label>Phone </label>
                                    <input type="tel" name="tel" placeholder="555-555-5555" required>
                                </div>

                                <div class="columns large-6">
                                    <label>Email </label>
                                    <input type="email" name="email" placeholder="email@example.com" required>
                                </div>

                        </div>
                        <div class="columns large-6">

                                <h1>Moving From:</h1>
                                <label>City</label>
                                <input type="text" name="city" placeholder="New York City">
                                <label>Zip </label>
                                <input type="number" name="number" placeholder="">

                                <select form="quoteform">
                                    <option value="1 flight">1 flight or less</option>
                                    <option value="2 flights">2 flights</option>
                                    <option value="3 flights">3 flights</option>
                                    <option value="4 flights">4 flights</option>
                                    <option value="5 flights">5 flights +</option>
                                </select>

                                <label>Does this location require insurance ?</label>
                                <input type="radio" value="Yes" name="yes"> Yes
                                <input type="radio" value="No" name="no"> No

                        </div>

                    <div class="columns large-6">

                            <h1>Moving To:</h1>
                            <label>City</label>
                            <input type="text" name="city" placeholder="New York City">
                            <label>Zip </label>
                            <input type="number" name="number" placeholder="">
                            <select form="quoteform">
                                <option value="1 flight">1 flight or less</option>
                                <option value="2 flights">2 flights</option>
                                <option value="3 flight">3 flights</option>
                                <option value="4 flight">4 flights</option>
                                <option value="1 flight">5 flights +</option>
                            </select>
                            <label>Does this location require insurance ?</label>
                            <input type="radio" value="Yes" name="yes"> Yes
                            <input type="radio" value="No" name="no"> No
                    </div>
                    <div class="clear"></div>
                    <br>

                    <div class="columns large-12">
                           <div class="columns large-5">
                            <label>Date of Move</label>
                            <input type="date" name="date">
                            </div>
                            <div class="clear"></div>

                            <p>If your building has already provided you with a <a href="#cert" style="color:white; text-decoration: underline;">Certificate of Insurance</a> please upload it here</p>

                                 <div id="submit-insurance-div">
                                        <input id="insurance-submit" class="button" type="submit" value="Submit" >
                                </div>

                      </div>
										-->
                </form>
            </div>

            <div class="columns large-2"></div>
            <div class="clear"></div>
    </div>
</div>



    <div id="back-to-top">
       <a href="#" title="back-to-top">
        <i class="fi-arrow-up"></i>
        </a>
    </div>





    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

{% endblock %}
</body>

</html>
