<!DOCTYPE.html>
{% extends 'index/layout.html' %}

{% block body_block %}


        <!--CONTAINER-->
{% load staticfiles %}
    <div class="container-container" >
        <div class="container" id="team-container" >

                <!--pic of movers taking pictures with customers-->

    <div id="team-div">


        <div id="team-pic" >

               <img src="https://image.ibb.co/kXdUEe/Markand_Chris.jpg" alt="Markand_Chris" border="0" >

            </div>
               <div id="team-pic-text">

                <h1 > MEET THE TEAM </h1><br><br>

                <p  id="teamwork" >Check out our <span><a href="https://instagram.com/nomadmovers" title="instagram.com/nomadmovers" class=" show-for-small">Instagram</a></span> page to see more happy customers and loaded trucks!
                <br>
                <br>
                <a href="http://instagram.com/nomadmovers" target="_blank" class="show-for-medium" ><i class="fa fi-social-instagram"> </i></a>

                </p>



                </div>
            </div>



        <div class="clear"></div>


    <div id="team-about-us">
       <h1>Who We Are</h1>
        <div id="eight-yrs" class="columns large-12 small-12">
                    <h2 class="show-for-small-only">Crew From Queens</h2>
                    <div id="josh-work-div" class="columns large-4 small-5">

                       <img src="{% static 'index/pics/wrap.jpg' %}" id="josh-work" alt="Josh Working">

                    </div>
                    <h2 class="show-for-large">Crew From Queens</h2>
                    <h2 class="show-for-medium-only">Crew From Queens</h2>
                    <p class="large-8 small-12">
                    We started this journey over 8 years ago in Queens, New York with the ambition to help prevent New Yorkers from wasting outrageous amounts of money on their moves. With the help of customer referrals, reviews &amp; hardwork, we were able to expand and partner with some of NYC's top truck vendors including Uhaul, Penske and ABF.<br class="show-for-large"> This is why we value each and every customer; we consider them to be a part of our family. </p>



        </div>





        <div id="second-par" class="columns large-12">
        <h2 class="show-for-small-only">Elevated Customer Service</h2>

        <div id="cust-sat" class="columns large-4 small-7 float-right">

           <img src="{% static 'index/pics/snowing-pods.JPG' %}" id="calm-pic" alt="Moving in the Snow">

        </div>
        <h2 class="show-for-large">Elevated Customer Service</h2>
        <h2 class="show-for-medium-only">Elevated Customer Service</h2>

        <p>
               Since the beginning, our foundation has been customer satisfaction. Thus, the feedback and reviews we've received over the years influences the way we structure our services so that we can provide a personal experience.
                We specialize in commercial &amp; residential
                moving with homes, offices and buildings, locally,
                throughout the five boroughs. With over 10 years of
                servicing New Yorkers, we work to provide an elevated level
                of customer service to each and every client in the moving
                process and on moving day.
        </p>

        </div>
                   <div class="clear"></div>
                    <br><!--Pic of movers moving-->
                    <div id="move-process">
                           <h2>We're Here For You</h2>
                            <p>
                                We know the moving process can be overwhelming; our goal is to
                                thoroughly assist our customers every step of the way.
                                Trust us, preparation is the key to making your move a
                                simple one and we're here to help make it as <em>simple</em> as
                                possible.
                            </p>
                    </div>
                           <div>
                            <p style="text-align:center;">Want to be apart of our awesome crew ? <a href="candidates1.html" style="color:black; text-decoration: underline;">Join our team today</a></p>
                            </div>
            </div>
    </div>
</div>




    <div id="back-to-top">
       <a href="#" title="back-to-top">
        <i class="fi-arrow-up"></i>
        </a>
    </div>




{% endblock %}
</body>

</html>
