{% extends 'admin_app/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
  <h1>The Need For Green</h1>
  <p style="width: 76%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <div class="d-flex flex-row justify-content-center">
  <img src="{% static 'single-tree.jpg' %}" alt="single tree">
  <div id="front_pic"> <em>Learn more about how you can save this <a href="#">tree</a></em></div>
  </div>
  <p>
    <h2>Animals have rights too..</h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam ac tortor vitae. Ac auctor augue mauris augue neque gravida in. Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Ipsum suspendisse ultrices gravida dictum. Nisi quis eleifend quam adipiscing. Nisl tincidunt eget nullam non nisi est sit amet. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Mauris sit amet massa vitae tortor condimentum lacinia. Eu scelerisque felis imperdiet proin fermentum. In hendrerit gravida rutrum quisque non tellus orci. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Volutpat diam ut venenatis tellus. Blandit massa enim nec dui. Eu ultrices vitae auctor eu augue ut.
<br><br>
<h2>Veganism enforces compassion</h2>
Ut venenatis tellus in metus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Sed elementum tempus egestas sed sed risus pretium quam. Massa id neque aliquam vestibulum morbi blandit. Tristique et egestas quis ipsum. Sed cras ornare arcu dui vivamus arcu. Laoreet sit amet cursus sit amet dictum sit. Nulla facilisi nullam vehicula ipsum a arcu. Eu sem integer vitae justo eget. Hendrerit dolor magna eget est. Congue quisque egestas diam in arcu cursus. Lectus sit amet est placerat in egestas erat imperdiet sed.
<br><br>
<h2>An arm and a leg</h2>
Tortor dignissim convallis aenean et tortor at risus. Tristique senectus et netus et. Enim diam vulputate ut pharetra sit amet. Tellus in hac habitasse platea. Proin sed libero enim sed faucibus. Accumsan in nisl nisi scelerisque eu ultrices. Lectus quam id leo in vitae. In ante metus dictum at tempor commodo ullamcorper a lacus. Massa enim nec dui nunc mattis enim. Tempus urna et pharetra pharetra massa massa ultricies mi. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Faucibus scelerisque eleifend donec pretium vulputate. Vestibulum lectus mauris ultrices eros in cursus. Habitant morbi tristique senectus et netus et malesuada. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse. Justo donec enim diam vulputate ut pharetra. Lacinia quis vel eros donec ac.
<br><br>
<h2>Save the planet by saving yourself </h2>
Enim nunc faucibus a pellentesque sit amet porttitor eget. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Dui faucibus in ornare quam viverra orci sagittis eu. Laoreet non curabitur gravida arcu ac tortor dignissim. Porta non pulvinar neque laoreet suspendisse. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Suscipit tellus mauris a diam maecenas sed enim ut. Elit eget gravida cum sociis. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Consectetur adipiscing elit duis tristique. Tincidunt eget nullam non nisi est. Dignissim sodales ut eu sem. Feugiat in fermentum posuere urna nec tincidunt praesent. Et egestas quis ipsum suspendisse ultrices gravida. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Quam lacus suspendisse faucibus interdum posuere lorem. Facilisis gravida neque convallis a cras. Ornare suspendisse sed nisi lacus sed viverra.

</p>
<br>
<button type="submit" class="btn btn-success btn-lg" >Learn More</button>
</div>

{% endblock %}
